.header{
  width:100%;
  height:60px;
  background-color: #4180fc;
  font-size: 20px;
  line-height: 20px;
  border-bottom-right-radius: 50px;

  .logo{
    float: left;
    width: 40%;
    text-align: center;
    //line-height: 24px;
    height: inherit;


    a{
      color: #fff;
      background-color: #4195fc;
      display: block;
      line-height:60px;
      border-bottom-right-radius: 50px;
      height: inherit;

    }
  }

  .header-list{
    float: right;
    height: inherit;

    #zarezerwuj{
      border-top-left-radius: 50px;
      //border-bottom-left-radius: 35px;
      background-color: #4195fc;

      &:hover{
        border-top-left-radius: 50px;
        //border-bottom-left-radius: 35px;
        background-color: #f7fafc;
        color: #4195fc;
      }
    }

    #zaloguj{
      border-bottom-right-radius: 50px;
      background-color: #4195fc;

      &:hover{
        border-bottom-right-radius: 50px;
        background-color: #f7fafc;
        color: #4195fc;
      }
    }

    .item{
      float: left;
      font-size: 20px;

      a{
        color: white;
        display: block;
        padding: 20px 40px;
        transition: background-color 0.6s cubic-bezier(0.25, 0.1, 0, 1.13);

        &:hover{
          transition: background-color 0.6s cubic-bezier(0.25, 0.1, 0, 1.13);
        }
      }
    }
  }
}
