<div class="table-content">
  <div>
    <span>Cena [PLN]: </span>
    <input type="number" [(ngModel)]="priceLimit" class="form-control input-sm"
           style="display: inline-block; width: 100px">
  </div>
  <data-table
    [items]="equipments"
    [itemCount]="equipmentsCount"
    (reload)="reloadEquipments($event)"

    [pagination]="true"
    [indexColumn]="true"
    [selectColumn]="false"
    [multiSelect]="true"
    [rowColors]="rowColors">
    <data-table-column
      property="url"
      header="Zdjęcie"
      width="110px">
      <template #dataTableCell let-item="item">
        <a href="#">
          <img src={{item.url}} width="100px" height="100px" alt='blad ladowania' class="img-responsive image"/>
        </a>
      </template>
    </data-table-column>
    <data-table-column
      property="name"
      header="Nazwa"
      sortable="true"
      width=25%>
    </data-table-column>
    <data-table-column
      property="size"
      header="Rozmiar [cm]"
      sortable="true"
      width=15%>
    </data-table-column>
    <data-table-column
      property="price"
      header="Cena (PLN)"
      sortable="true"
      width=15%>
    </data-table-column>
    <data-table-column
      header="Actions">
      <template #dataTableHeader let-item="item">
        <p>Dodaj do koszyka</p>
      </template>
      <template #dataTableCell let-item="item">
        <div class="inline-items">
          <button (click)="incrementCart()" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-plus"></i></button>
          <input class="input-counter" type="number" [(ngModel)]="item.count">
          <button (click)="decrementCart()" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-minus"></i></button>
        </div>
        <button (click)="addToCart(item, cartCount)" class="btn btn-sm btn-default">Dodaj</button>
      </template>
    </data-table-column>
  </data-table>
  <div>
    <div>
      <b>Selected:</b>
      <span [textContent]="equipmentsTable.selectedRows.length"></span>
    </div>
    <div *ngFor="let selected of equipmentsTable.selectedRows">
      <span [textContent]="selected.item.name"></span>
    </div>
  </div>
</div>
