<div style="margin: auto; max-width: 800px;">
  <div>
    <span>Cena [PLN]: </span>
    <input type="number" [(ngModel)]="priceLimit" class="form-control input-sm" style="display: inline-block; width: 100px">
  </div>
  <data-table
    [items]="equipments"
    [itemCount]="equipmentsCount"
    (reload)="reloadEquipments($event)"

    [pagination]="true"
    [indexColumn]="true"
    [selectColumn]="true"
    [multiSelect]="true"
    [rowColors]="rowColors"
  >
    <data-table-column
      property="url"
      header="Zdjecie"
      width="122px">
      <template  #dataTableCell let-item="item">
        <img src={{item.url}} width="100px" height="100px" alt='blad ladowania' class="image"/>
        <!--<a href="https://unsplash.it/1200/768.jpg?image=250" data-toggle="lightbox" data-title="A random title" data-footer="A custom footer text">-->
          <!--<img src="https://unsplash.it/600.jpg?image=250" class="img-fluid">-->
        <!--</a>-->
      </template>
    </data-table-column>
    <data-table-column
      property="name"
      header="Nazwa"
      sortable="true">
    </data-table-column>
    <data-table-column
      property="size"
      header="Rozmiar [cm]"
      sortable="true">
    </data-table-column>
    <data-table-column
      property="price"
      header="Cena (PLN)"
      sortable="true">
    </data-table-column>
    <data-table-column
      header="Actions">
      <template #dataTableHeader let-item="item">
        <i>Actions</i>
      </template>
      <template #dataTableCell let-item="item">
        <button (click)="equipmentClicked(item)" class="btn btn-sm btn-default">Buy</button>
      </template>
    </data-table-column>
  </data-table>
  <div>
    <div>
      <b>Selected:</b>
      <span [textContent]="equipmentsTable.selectedRows.length"></span>
    </div>
    <div *ngFor="let selected of equipmentsTable.selectedRows">
      <span [textContent]="selected.item.name"></span>
    </div>
  </div>
</div>
