<!--<h2>My Equipments</h2>-->
<!--<ul class="heroes">-->
  <!--<li *ngFor="let equipment of heroes"-->
      <!--[class.selected]="equipment === selectedEquipment"-->
      <!--(click)="onSelect(equipment)">-->
    <!--<span class="badge">{{equipment.id}}</span> {{equipment.name}}-->
  <!--</li>-->

<!--</ul>-->
<!--<div *ngIf="selectedEquipment">-->
  <!--<h2>-->
    <!--{{selectedEquipment.name | uppercase}} is my selectedEquipment-->
  <!--</h2>-->
  <!--<button (click)="gotoDetail()">View Details</button>-->
<!--</div>-->
