body {
  background: #f7fafc url('img/bg2.jpg') repeat;
  margin: 0px;
  padding: 0;
  font-family: 'Aladin', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, a:hover, a:visited, a:active, a:focus {
  text-decoration: none;
}

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-collapse {
  padding: 0;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.navigation{
  width: 100%;
  background-color: #4180fc;
  color: white;
  line-height: 24px;
}

//
