body {
  background-color: white;
  margin: 0px;
  padding: 0;
  font-family: 'Aladin', sans-serif;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a, a:hover{
  text-decoration: none;
}
